{% extends "ajax.html.twig" %}

{% block body %}
    {% for film in films %}
        {% if sessions[film.id] is defined  %}
            <div class="lead mb-4 film-item">
                <p>Фильм: <strong>{{ film.name }}</strong></p>
                <p>
                    {% for session in sessions[film.id] %}
                        {{ session.executeDate|date('Y-m-d H:i') }} <br />
                    {% endfor %}
                </p>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}